.icon-48-events-icon
{	background-image: url(images/events-icon.png);	}

.icon-48-category
{	background-image: url(images/categories.png);	}
.icon-48-subscriptions
{	background-image: url(images/subs.png);	}
.icon-48-payment
{	background-image: url(images/payment.png);	} 
.icon-48-import
{	background-image: url(images/import.png);	} 
.icon-48-settings
{	background-image: url(images/settings.png);	} 
.icon-48-events
{	background-image: url(images/event.png);	} 
.icon-48-dashboard
{	background-image: url(images/dashboard.png);	}