.icon-32-approve
{	background-image: url(../images/approve.png);	}
.icon-32-pending
{	background-image: url(../images/pending.png) }
.icon-32-deny
{	background-image: url(../images/deny.png);	}
.icon-32-export-excel
{	background-image: url(../images/export-excel.png);	}
